{% load static %}{% load i18n %} {% load horillafilters %}



    <div class="oh-modal__dialog-header pb-0">
        <h2 class="oh-modal__dialog-title" id="editDialogDialog">
            {% trans "Gratuity" %}
        </h2>
        <button class="oh-modal__close" aria-label="Close">
            <ion-icon name="close-outline"></ion-icon>
        </button>
    </div>
    <div class="oh-modal__dialog-body">
        <div class="oh-timeoff-modal__profile-content m-0">
            <div class="oh-profile mb-2">
                <div class="oh-profile__avatar">
                    <img src="{{leave_type.get_avatar}}" class="oh-profile__image me-2" alt="image" />
                </div>
                <div class="oh-timeoff-modal__profile-info">
                    <span class="oh-timeoff-modal__user fw-bold m-0">{{leave_type.name}}</span>

                </div>
            </div>
        </div>
        <div class="oh-modal__dialog-header pt-0">
            <div class="oh-timeoff-modal__stats-container">
                <div class="oh-timeoff-modal__stat">
                    <span class="oh-timeoff-modal__stat-title">{% trans "Badge ID" %}</span>
                    <span class="oh-timeoff-modal__stat-count">{{leave_type.get_period_in_display}}</span>
                </div>
                <div class="oh-timeoff-modal__stat">
                    <span class="oh-timeoff-modal__stat-title">{% trans "Job Role" %}</span>
                    <span class="oh-timeoff-modal__stat-count">
                   
                    </span>
                </div>
                <div class="oh-timeoff-modal__stat">
                    <div class="oh-label__info">
                        <span class="oh-timeoff-modal__stat-title">{% trans "Department" %}</span>                        

                    </div>
                    <span class="oh-timeoff-modal__stat-count"></span>
                </div>

                    <div class="oh-timeoff-modal__stat">
                        <span class="oh-timeoff-modal__stat-title">{% trans "Joining Date" %}</span>
                        <span class="oh-timeoff-modal__stat-count">{{leave_type.get_reset_based_display}}</span>
                    </div>


                    <div class="oh-timeoff-modal__stat">
                        <span class="oh-timeoff-modal__stat-title">{% trans "End Date" %}</span>
                        <span class="oh-timeoff-modal__stat-count">{{leave_type.get_reset_month_display}}</span>
                    </div>


                    <div class="oh-timeoff-modal__stat">
                        <span class="oh-timeoff-modal__stat-title">{% trans "Basic Salary" %}</span>
                        <span class="oh-timeoff-modal__stat-count">{{leave_type.reset_day}}</span>
                    </div>


                    <div class="oh-timeoff-modal__stat">
                        <span class="oh-timeoff-modal__stat-title">{% trans "Duration of Employment" %}</span>
                        <span class="oh-timeoff-modal__stat-count">{{leave_type.get_reset_weekend_display}}</span>
                    </div>

                <div class="oh-timeoff-modal__stats">
                    <div class="oh-timeoff-modal__stat">
                        <span class="oh-timeoff-modal__stat-title">{% trans "Gratuity" %}</span>
                        <div class="oh-timeoff-modal__stat-count">
                            {{leave_type.get_carryforward_type_display}}
                        </div>
                    </div>
                </div>
                
            <div class="oh-modal__button-container text-center mt-3">
                {% if perms.leave.change_leavetype and perms.leave.add_availableleave and perms.leave.delete_leavetype %}
                    <div class="oh-btn-group">
              
                            <a class="oh-btn oh-btn--info w-50">
                                <ion-icon class="me-1" name="create-outline"></ion-icon>
                                {% trans "Print" %}
                            </a>
                        {% if not leave_type.is_compensatory_leave %}
                            <a data-toggle="oh-modal-toggle" data-target="#objectCreateModal"
                                class="oh-btn oh-btn--success w-50">
                                <ion-icon class="me-1" name="checkmark-outline"></ion-icon>
                                {% trans "Save" %}
                            </a>
                        {% endif %}
                        <button class="oh-btn oh-btn--danger w-50" data-action="delete"
                            hx-target="#objectDetailsModalTarget">
                            <ion-icon class="me-1" name="close-circle-outline"></ion-icon>
                            {% trans "Cancel" %}
                        </button>
                        {% endif %}
                    </div>

            </div>
        </div>
    </div>
